[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
drf-spectacular = "*"
django-environ = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.11"
